# Example environment for Coupon Service
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=mango_dev
DATABASE_USER=coupon_service
DATABASE_PASSWORD=coupon_secret
RABBITMQ_URL=amqp://mango:mango_pass@rabbitmq:5672/
REDIS_URL=redis://redis:6379/0
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
