# Ignore files for Docker build
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
dist/
build/
node_modules/
*.log
.env
.env.*
.DS_Store
Thumbs.db

# Git
.git/

# Docker
Dockerfile*
.dockerignore

# Others
*.tmp
*.bak
*.orig
