# Example environment for Product Service
DATABASE_HOST=postgres
DATABASE_PORT=5432
DATABASE_NAME=mango_dev
DATABASE_USER=product_service
DATABASE_PASSWORD=product_secret
RABBITMQ_URL=amqp://mango:mango_pass@rabbitmq:5672/
REDIS_URL=redis://redis:6379/0
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=*
